.heading {
	margin-bottom: 100px;
}
.img-circle {
	border: 2px solid black;
}

.image {
	width: 100px;
	height: 100px;
}

.lightblue {
	background-color: #3AAAB9;
}

.darkblue {
	background-color: #257189;
}

.poke-table {
	color: #fff;
	padding: 8px;
}

#here {
	width: 300px;
}